
/TextMesh Pro/
/TextMesh Pro.meta

ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb


*.pidb.meta

sysinfo.txt

*.apk

*.usertasks

*.resources
test-results/

/BUILD/
*.DS_store
